[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-openai = "*"
langchain-pinecone = "*"
python-dotenv = "*"
langchainhub = "*"
black = "*"
langchain-community = "*"
psycopg2 = "*"
psycopg2-binary = "*"
bs4 = "*"
streamlit = "*"
pinecone = "*"

[dev-packages]

[requires]
python_version = "3.13"
